# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\GitHub\PersonalProject-Java\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

*.txt
*.class
*.lock

# Packgae files#
*.jar
*.war
*.ear
*.exe
target/

#idea
.idea/
*.iml


###IntelliJ IDEA ###

*.ipr
*.iws
.idea
.classpath
.project
.settings/
bin/

*.log
tmp/
*rebel.xml*
*.xml
